<!-- The Base HTML will be the template that all other templates will extend from. -->
<!-- Jinja (similar to Python) is used to dynamically generate HTML viewContent depending on the user's actions.-->
<!-- There are following Jinja delimeters: {+%  for statements, {+{ for expressions, and {+# for comments. -->
<!doctype html>
<head>
  <meta charset="UTF-8">
</head>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script> <!-- Chart.js is a JavaScript library for creating charts. -->
<script src="{{ url_for('static', filename='visualisationHelpers.js') }}"></script>

<!-- The name block will be replaced by the viewContent from the other templates. -->
<title>{% block name %}{% endblock %}{% if g.user %} Logged in as {{ g.user['name'] }}{% endif %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <div class="nav-left">
    <h1>Raspberry Pi GPIO Server</h1>
  </div>
  <div class="nav-middle">
    <ul>
    </ul>
  </div>
  <div class="nav-right">
    <ul>
      <li><a class='action' href="{{ url_for('home.dashBoardViewer', clearSession='true') }}" title="Dashboard"><ion-icon name="stats-chart"></ion-icon> </a></li>
      {% if g.user %}
        <li><a class='action' href="{{ url_for('home.dashBoardViewer') }}" title="Account: {{ g.user['name'] }}"><ion-icon name="person-circle"></ion-icon></a></li>
        <li><a class='action' href="{{ url_for('auth.logout') }}" title="Log Out"><ion-icon name="log-out-outline"></ion-icon></a></li>
        {% if g.admin %}
          <li><a class='action' href="{{ url_for('home.restartServer') }}" title="Restart Server"><ion-icon name="refresh-outline"></ion-icon></a></li>
          <li><a id='gitButton' class='action' href="{{ url_for('home.syncGit') }}" title="Pull from Git Origin Branch"><ion-icon name="logo-github"></ion-icon><ion-icon name="git-pull-request-outline"></ion-icon></a></li>
        {% endif %}
      {% else %}
        <li><a class='action' href="{{ url_for('auth.login') }}" title="Log In"><ion-icon name="log-in-outline"></ion-icon></a></li>
      {% endif %}
      <li><a class='action' href="{{ url_for('home.shutdown') }}" title="Shutdown"><ion-icon name="power"></ion-icon></a></li>
    </ul>
  </div>
</nav>

<script>
  navBar = document.querySelector(".nav-middle");
  returnPackage = createDefaultActionForm(navBar, "/", "Search", ["search"], "GET");
  form = returnPackage[0];
  form.id = "searchForm"
  searchInput = document.createElement("input");
  searchInput.type = "text";
  searchInput.name = "searchQuery";
  searchInput.placeholder = "Search...";
  searchInput.style = "margin:0.3rem";
  form.insertBefore(searchInput, form.firstChild);
  if ("{{ searchQuery }}" != "" && "{{ searchQuery }}" != null && "{{ searchQuery }}" != "None") {
    searchInput.placeholder = "{{ searchQuery }}";
    searchInput.value = "{{ searchQuery }}";
  }
  
</script>

{% if g.admin %}
<script>
  var buttonGitPull = document.getElementById('gitButton');
  buttonGitPull.addEventListener('click', function(event) {
    event.preventDefault();
    let branchName = prompt("Please enter the branch name:", "main");
    if (branchName != null && branchName != "") {
      createHiddenFormInput(formGitPull, "branchName", branchName);
      formGitPull.submit();
    }
  });

</script>
{% endif %}

<section class="viewContent subNavArea">
  <!-- The get_flashed_messages() function will return any messages that have been flashed with the flash() function. -->
  {% for message in get_flashed_messages(True) %}
    {% if message[0] == 'instruction' %}
      <div class="flash instruction">INSTRUCTION: <br>{{ message[1]|safe }}</div>
    {% elif message[0] == 'error' %}
      <div class="flash error">ERROR: <br>{{ message[1]|safe }}</div>
    {% else %}
      <div class="flash">INFO: <br>{{ message[1]|safe }}</div>
    {% endif %}
  {% endfor %}
  <div class="flexContainer">
      <!-- The sidebar block will be replaced by the viewContent from the other templates. -->
      {% block sidebar %}{% endblock %}
      <!-- The content block will be replaced by the viewContent from the other templates. -->
      {% block viewContent %}{% endblock %}
  </div>
</section>


<script>
  function adjustSubNavAreaMargin() {
    // Get the nav element and the div with class 'fixedSubNavBar'
    var navBar = document.querySelector('nav');
    var subNavArea = document.querySelector('.subNavArea');

    // Calculate the height of the nav bar
    var navBarHeight = navBar.offsetHeight;

    // Set the top property to be directly below the nav bar
    subNavArea.style.marginTop = navBarHeight + 'px';
  }

  // Adjust margin on window load
  window.addEventListener('load', function() {
    setTimeout(adjustSubNavAreaMargin, 100);
  });

  // Adjust margin on window resize
  window.addEventListener('resize', adjustSubNavAreaMargin);
</script>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>