{% extends 'base.html' %}

{% block sidebar %}
  <div class="sidebar">
    <h2>Directory</h2>
    <form id="directory" class="filterForm" action="{{ url_for('home.dashBoardViewer') }}" method="GET">
      <input type="hidden" name="folderPath" value="your/folderPath">
    </form>
  </div>
{% endblock %}

{% block viewContent %}
  <div class="mainContent">
    
  </div>
  <script type="text/javascript">
    // Variables from initial website load via Jinja Syntax
    const liveDataHeaderJSON = '{{ liveDataHeaderJSON | tojson }}';
    liveDataHeaderBuffer = JSON.parse(liveDataHeaderJSON);
    if (liveDataHeaderBuffer == null){
      liveDataHeaderBuffer = [];
    }
    const liveDataHeader = liveDataHeaderBuffer;
    window.onload = function() {
      for(var i = 0; i < liveDataHeader.length; i++){
        loadLiveData(liveDataHeader[i]);
      }
    };

    function loadLiveData(liveDataHeaderRow){
      var mainListElement = document.createElement("div");
      mainListElement.className = "listElement";
      mainListElement.id = "listElement_" + liveDataHeaderRow;
      document.querySelector(".mainContent").appendChild(mainListElement);
      var xhr = new XMLHttpRequest();
      xhr.open('POST', "{{ url_for('home.getLiveData') }}", true);
      // Prepare FormData
      var formData = new FormData();
      formData.append('selectedLiveData', liveDataHeaderRow);
      // Define the reaction on the server response
      xhr.onload = function() {
        if (xhr.status === 200) {
          var liveDataRow = JSON.parse(xhr.responseText);
          mainListElement = document.getElementById("listElement_" + liveDataRow['id']);
          var listElementContent = document.createElement("div");
          listElementContent.className = "listElementContent";
          mainListElement.appendChild(listElementContent);
          var article = document.createElement("article");
          article.className = "rowArticle";
          listElementContent.appendChild(article);
          var header = document.createElement("header");
          article.appendChild(header);
          header.innerText = liveDataRow['name'];
          var p = document.createElement("p");
          p.id = "liveData_"+liveDataRow['id'];
          p.innerText = 'No value';
          article.appendChild(p);

          // Container for the Buttons
          var listElementAction = document.createElement("div");
          listElementAction.className = "listElementAction";
          listElementAction.id = "listElementAction_" + liveDataRow['id'];
          mainListElement.appendChild(listElementAction);

          if(liveDataRow['id'] == 1){
            // Add a button to start measurement of the distance
            var buttonStart = document.createElement("button");
            buttonStart.className = "button";
            buttonStart.innerText = "Start Measurement";
            buttonStart.id = "buttonStart_" + liveDataRow['id'];
            buttonStart.classList.add("action");
            listElementAction.appendChild(buttonStart);
            buttonStart.addEventListener('click', function(event) {
              // AJAX Request to start the measurement and write the response in the listElementContent
              var xhr = new XMLHttpRequest();
              xhr.open('POST', "{{ url_for('home.distanceMeasurement') }}", true);
              // Prepare FormData
              var formData = new FormData();
              // Define the reaction on the server response
              xhr.onload = function() {
                if (xhr.status === 200) {
                  var distance = JSON.parse(xhr.responseText);
                  var p = document.getElementById("liveData_1");
                  p.innerText = distance + " mm";
                }
              }
              // Send the request with formData
              xhr.send(formData);

            });
          }
        }
      }
      // Send the request with formData
      xhr.send(formData);
    }

  </script>
{% endblock %}

