{% extends 'base.html' %}

{% block header %}
  <h1>{% block name %}Log In{% endblock %}</h1>
{% endblock %}

{% block viewContent %}
<div class="mainContent">
  <div class="logInForm">
    <form method="post">
      <table>
      <tr>
        <td><label for="username">Username</label></td>
        <td><input name="username" id="username" required></td>
      </tr>
      <tr>
        <td><label for="password">Password</label></td>
        <td><input type="password" name="password" id="password" required></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="2" style="text-align: center;">
        <button class="action" type="submit"><ion-icon name="log-in-outline"></ion-icon> Login</button>
        </td>
      </tr>
      </table>
    </form>
  </div>
</div>
{% endblock %}